<phpunit bootstrap="vendor/autoload.php" colors="true" processIsolation="false" testdox="true">
    <testsuites>
        <testsuite name="datetime">
            <file>tests/TimeTest.php</file>
            <file>tests/DateTest.php</file>
            <file>tests/DateCalculatorTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
